<a href='login'>Login</a>
<a href='new'>Registro</a>
<br>
<br>
<br>
<% @users.each do |user| %>
    <tr class="odd gradeX">
      <td><b></b></td>
      <td>Nome:<%= user.name %></td><br>
      <td>Email:<%= user.email %></td><br>
      <td>Company:<%= user.company_id %></td><br>
      <td>Role:<%= user.roles_id %></td><br>
      <br>
      <br>
    </tr>
  
      <% end %>