<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ORG</title>
</head>
<body>



<% if flash[:erro] %>
<div class="notice"><%= flash[:erro] %></div>
<% end %>

<%= simple_form_for(:users) do |f|%>
  <%= f.fields_for :company do |ff| %>
    <div class="field">
      <%= ff.label 'Company' %>
      <%= ff.text_field :company_name %>
    </div>
  <% end %>


    <p>
    
    <%= f.input :name %>
  </p>
    <p>
    
    <%= f.input :email %>
  </p>
  <p>
  
  <%= f.input :encrypted_password %>
</p>

    <p>
      <%= f.submit "Registrar" %>
    </p>
  <% end %>
</body>
</html>